{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="topbar" style="background: greenyellow">
                    <h2>Alabamka is top spell howler</h2>
                    <form action="/lk/account/" method="POST">
                        {% csrf_token %}
                        {{ form_auth.as_p }}
                        <br><br>
                        <input type="submit" value="Enter">
                    </form>
                    <a href={% url 'registration'%}>Registration</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}