{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="topbar" style="background: greenyellow">
                    <div class="news-container col-md-6">
                        <h3>Заголовок1</h3>
                        <p>Тут должно быть очень много бесполезного текста для теста нашей голимой страницы
                        Тут должно быть очень много бесполезного текста для теста нашей голимой страницы
                        Тут должно быть очень много бесполезного текста для теста нашей голимой страницы
                        Тут должно быть очень много бесполезного текста для теста нашей голимой страницы
                        Тут должно быть очень много бесполезного текста для теста нашей голимой страницы</p>
                        <a href="#">Подробнее</a>
                    </div>
                    <div class="news-container col-md-6">
                        <h3>Заголовок2</h3>
                        <p>Тут должно быть очень много бесполезного текста для теста нашей голимой страницы
                        Тут должно быть очень много бесполезного текста для теста нашей голимой страницы
                        Тут должно быть очень много бесполезного текста для теста нашей голимой страницы
                        Тут должно быть очень много бесполезного текста для теста нашей голимой страницы</p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}