{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="topbar" style="background: greenyellow">
                    <div class="news-container col-md-6">
                        <h2>Alabamka is top spell howler</h2>
                        <form action="lk" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <input type="submit" class="btn" value="submit">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}